#######
# OSX #
#######
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

############
# Security #
############
id_rsa


############
# Terraform
############
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
*.retry
*.tfstate
*.tfstate.*
.terraform
############
# rhel
############
rhel-sub-vars.yml
*.retry


###########
# Tooling #
###########
.vagrant/


